<launch>

    <node pkg="nodelet"
          type="nodelet"
          args="manager"
          name="camera_nodelet_manager"
          output="screen" />

    <node pkg="nodelet"
          type="nodelet"
          args="load liuh_camera/CameraNodelet camera_nodelet_manager"
          name="liuh_camera"
          output="screen">
          <param name="fps_top" value="15" />
          <param name="fps_bottom" value="15" />
    </node>

    <node pkg="nodelet"
          type="nodelet"
          args="load liuh_camera/DummyNodelet camera_nodelet_manager"
          name="dummy_nodelet_loader"
          output="screen" />

</launch>
